/* Tags --------------------------------------------*/
* {
  box-sizing: border-box;
  font-family:'Questa';
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  text-align: center;
}

main {
  margin: auto;
  margin-top:70px;
  margin-bottom: 10px;
  padding:10px;
}


footer {
  font-size: .8rem;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  background-color: rgba(211, 211, 211, 0.35);
}

/* Classes-----------------------------------------*/
.logo {
  height: 60px;
  width: 60px;
  margin-right: auto;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.mnav-bar {
  display: flex;
  flex-wrap: wrap;
  background-color:#6A8EB9;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  padding-right: 15px;
}

.mnav{
  flex-flow: row;
  text-align:center;
  background-color: white;
  box-shadow: 3px 3px 7px rgba(53, 53, 53, .8);
  border: solid black .7px;
  border-radius: 5px;
  font-size: 15px;
  color: black;
  font-family:'Questa';
  letter-spacing: 1px;
  margin: 20px 5px;
  width: 100px;
  padding: 5px;
}

.mnav:hover {
  transition: all .4s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
  background-color: whitesmoke;
}


.primary-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  height: 300px;
  width: 300px;
}

.title {
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  background: white;
  width: 70%;
  border-radius: 8px;
  border: solid #6A8EB9 4px;
  font-weight: 350;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}

.jumbotron {
  background: whitesmoke url(Images/house.jpg) no-repeat center / cover;
}

.primary-content {
  width: 90%;
  margin:auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin:5px 20px;
}

.flex {
  padding: 5px;
  margin: 5px;
  flex: 1;
}

.column1 {
  height: 400px;
}

.column2 {
  flex-grow: 4;
  padding: 10px;
}

.column3 {
  background: whitesmoke;
  flex-grow: 2;
  border-radius: 5px;
  padding: 20px;

}

.flex-footer {
  display: flex;
}

.social {
  height: 40px;
  width: 40px;
  margin: 8px;
}

.social:hover {
  transition: all .4s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}


/* Properties Page -------------------*/

#slideshow {
  Border: solid black 2px;
}

/* Media Queries ------------------ */

@media (max-width: 1024px) {

  .mnav{
    font-size: 13px;
    margin: 20px 5px;
    width: 90px;
  }

  .primary-img {
    height: 200px;
    width: 200px;
  }

  .title {
    font-size: 1.8rem;
  }


}


@media (max-width: 770px) {


}
