.nav-bar {
  display: flex;
  background-color: rgba(0, 255, 255);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}

.nav{
  float: right;
  display: block;
  width: 130px;
  text-align: center;
  background-color: white;
  box-shadow: 3px 3px 7px rgba(53, 53, 53, .8);
  border: solid black .7px;
  border-radius: 5px;
  font-size: 18px;
  margin:5px 15px 5px 15px;
  padding: 5px;
  color: black;
  font-family:'Questa';
  letter-spacing: 1px;
}
